[user]
	email = akhyarrh@gmail.com
	name = Akhyar Rahman Hidayat
[push]
	default = matching
[alias]
  stat = status -s
	unstage = reset HEAD --
	last = log -1 HEAD
	sync = pull --rebase
  changelog = log --pretty=format:'#%h %s' --abbrev-commit -- > CHANGELOG
[core]
	quotepath = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
