[user]
  email = akhyarrh@users.noreply.github.com
  name = M. Akhyar Rahman H.
[push]
  default = matching
[alias]
  stat = status -s
  unstage = reset HEAD --
  last = log -1 HEAD
  sync = pull --rebase
  changelog = log --pretty=format:'#%h %s' --abbrev-commit -- > CHANGELOG.md
[core]
  quotepath = false
  editor = nano
  autocrlf = false
